%div
  %ul
    - @task.each do |task|
      %li
        = link_to task.name, requesters_task_path(task)
        %ul
          %li Status: #{task.status}
          %li Task Description: #{task.description}
