%body
  #wrapper
    %header#header
      .container
        %a.navbar-brand{href: "index.html"}
          %img{alt: "Taskr", height: "39", src: "assets/images/logo.svg", width: "117"}/
        %nav#nav.navbar.navbar-collapsed-sm.navbar-default{role: "navigation"}
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-header-collapse", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          .collapse.navbar-collapse.navbar-header-collapse
            %ul.nav.navbar-nav.navbar-right
              %li.active.dropdown
                %a.dropdown-toggle{"data-delay" => "50", href: "post_task.html"}
                  %span
                    Post new task
              %li.active.dropdown
                %a.dropdown-toggle{"data-delay" => "50", href: "current_task.html"}
                  %span
                    Current Available Tasks
              %li.dropdown
                %a.dropdown-toggle{"data-delay" => "50", href: "index.html"}
                  %span
                    Home
              %li.dropdown
                %a.dropdown-toggle{"data-delay" => "50", href: "about_us.html"}
                  %span
                    About us
              %li.dropdown
                %a.dropdown-toggle{"data-delay" => "50", "data-hover" => "dropdown", "data-toggle" => "dropdown", href: "#"}
                  %span
                    Contractor
                    %i.fa.fa-angle-down
                %ul.dropdown-menu{role: "menu"}
                  %li
                    %a{href: "sign_up.html"} Contractor Sign Up
                  %li
                    %a{href: "login.html"} Contractor Log In
              %li.dropdown
                %a.dropdown-toggle{"data-delay" => "50", "data-hover" => "dropdown", "data-toggle" => "dropdown", href: "#"}
                  %span
                    Requester
                    %i.fa.fa-angle-down
                %ul.dropdown-menu{role: "menu"}
                  %li
                    %a{href: "sign_up.html"} Requester Sign Up
                  %li
                    %a{href: "login.html"} Requester Log In
              %li.dropdown
                %a.dropdown-toggle{"data-delay" => "50", href: "faq.html"}
                  %span
                    FAQ
    #main{role: "main"}
      #main-content-header
        .container
          .row
            .col-sm-12
              %h1.title
                Blog (Single post)
              %ol.breadcrumb
                %li
                  %a{href: "my_task.html"}
                    Back to my tasks
