.row
  .col-sm-12
    %form.form
      %fieldset.row
        .col-sm-4.mg-b-md
          %img.img-responsive.img-rounded.center-block{:alt => "Semper massa", :height => "262", :src => "assets/images/jobcategories4.png", :width => "262"}/
        .col-sm-7.col-sm-offset-1
          .form-group
            %label Task Name
            %input#input-name.form-control{:type => "text"}/
          .form-group
            %label Description
            %textarea#input-street.form-control{:placeholder => "task description"}
          .form-group
            %label Location
            %input#input-city.form-control{:placeholder => "City placeholder", :type => "text"}/
          .form-group.no-mg-b
            %label Time Frame
            .row
              .col-sm-6.col-md-6.col-lg-4
                .input-group
                  %input#input-company.form-control{:type => "text"}/
                  %span.input-group-btn
                    %button.btn.btn-very-light{:type => "button"}
                      %i.fa.fa-calendar-o.text-dark
          %br/
          .form-group
            %label Task Category
            %select#input-city.form-control{:placeholder => "Task Category"}
              %option{:value => "Plumbing"} Plumbing
              %option{:value => "Computer"} Computer
              %option{:value => "Electrical"} Electrical
              %option{:value => "Carpentry"} Carpentry
      %hr.hr-dashed/
      %fieldset.row
        .col-sm-4.mg-b-md
          .lead
            %img.img-responsive.img-rounded.center-block{:alt => "Semper massa", :height => "262", :src => "assets/images/jobcategories4.png", :width => "262"}/
        .col-sm-7.col-sm-offset-1
          .form-group
            %label Minimum Budget
            .row
              .col-sm-6.col-md-6.col-lg-4
                .input-group
                  %span.input-group-addon
                    $
                  %input#input-money.form-control.input-lg.text-right{:type => "text"}/
                  %span.input-group-addon .00
          .form-group
            %label Maximum Budget
            .row
              .col-sm-6.col-md-6.col-lg-4
                .input-group
                  %span.input-group-addon
                    $
                  %input#input-money.form-control.input-lg.text-right{:type => "text"}/
                  %span.input-group-addon .00
      .form-actions.mg-t-lg
        .row
          .col-sm-7.col-sm-offset-5
            .text-center-xs
              .btn.btn-contrast.btn-lg
                %i.fa.fa-save
                Submit
